{% extends "soap/inicial.html" %}

{% load staticfiles %}

{% block title %} Getting Oil Price {% endblock %}

{% block css %}

{% endblock %}

{% block body %}

<h2>Get Oil Price</h2>
<form method="Post" action="{% url 'practica_soap.views.getOilPrice' %}">
{% csrf_token %}
{{ form.errors }}
{{ form.non_field_errors }}

	<div class="col-md-5"></div>
	<div class="col-md-4">
	<h1 class="featurette-heading center"> Getting Oil Price...</h1>
	<br>
	<label for="lenguaje">Lenguaje</label><br>
	<input type="text" name="lenguaje" id="lenguaje">
	<br>
	<br>
	<label for="dia">Dia</label><br>
	<input type="number" step="1.00" name="dia" id="dia">
	<br>
	<br>
	<label for="mes">Mes</label><br>
	<input type="number" step="1.00" name="mes" id="mes">
	<br>
	<br>
	<label for="anio">Anio</label><br>
	<input type="number" step="1.00" name="anio" id="anio">
	<br>
	<br>
	<input type="submit" value="Upload" />
	</form>
	<a href="{% url 'practica_soap.views.mostrar_index' %}" >Home</a>
	</div>
	<div class="col-md-3"></div>
</body>
{% endblock %}
{% block scripts %}

{% endblock %}

